:root
{
    --header-height: 3.5rem;
    /* Colores para el entorno claro */
    --first-color: #4a90e2;
    --title-color: #2c3e50;
    --text-color: #5d6d7e;
    --body-color: #f4f7f6;
    --container-color: #ffffff;
    /* Tipografía */
    --body-font: 'Poppins', sans-serif
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
}

/* Tema oscuro */
[data-theme="dark"]
{
    --tittle-color: #ecf0f1;
    --text-color: #bdc3c7;
    --body-color: #1c2833;
    --container-color: #273746;
}

/* Estilo Base */
* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body 
{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color 0.4s, color 0.4s;
    margin-top: var(--header-height);
}
h1, h2, h3 
{
    color: var(--title-color);
    font-weight: 600;
}
ul 
{
    list-style: none;
}
a 
{
    text-decoration: none;
}
.container 
{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* Estilo del header y Nav */
.header 
{
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: .4s;
}
.nav 
{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo 
{
    color: var(--first-color);
    font-weight: 700;
    font-size: 1.2rem;
}
.nav__logo span 
{
    color: var(--title-color);
}
.nav__list 
{
    display: flex;
    column-gap: 2rem;
}
.nav__link 
{
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}
.nav__link:hover 
{
    color: var(--first-color);
}

/* Estilo del botón de cambio de tema */
.change-theme 
{
    font-size: 1.25rem;
    color: var(--text-color);
    cursor: pointer;
    transition: .3s;
}
.change-theme:hover 
{
    color: var(--first-color);
}
